name: CI

on:
  push:
  pull_request:
  schedule:
    - cron: '31 1,12 * * *'

jobs:
  ubuntu:
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout V
        uses: actions/checkout@v2
        with:
          repository: vlang/v
      - name: Checkout c2v
        uses: actions/checkout@v2
        with:
          path: c2v

      - name: Install Dependencies
        run: |
          sudo apt-get update -y -qq
          sudo apt-get install libsdl2-dev libsdl2-mixer-dev libsdl2-net-dev libpng-dev

      - name: Build V
        run: make && ./v symlink -githubci

      - name: Build c2v and setup ~/code
        run: |
          ls -la /home/runner/work/c2v/c2v/c2v
          ln -s  /home/runner/work/c2v/c2v/c2v ~/.vmodules/c2v
          mkdir -p ~/code/
          v -g ~/.vmodules/c2v/
          ~/.vmodules/c2v/c2v || true

      - name: Test c2v
        run: |
          v -g test ~/.vmodules/c2v/
          v -g run ~/.vmodules/c2v/tests/run_tests.vsh

      - name: Build original Chocolate Doom
        run: |
          git clone --quiet --depth 1 https://github.com/vlang/doom ~/code/doom
          cd ~/code/doom/chocolate-doom
          cmake -DCMAKE_BUILD_TYPE=Debug .
          make chocolate-doom

      - name: Translate just p_enemy.v
        run: |
          cd ~/.vmodules/c2v/
          v -g run tools/build_doom_file.vsh doom/p_enemy

      - name: Translate the whole game in project/folder mode
        run: |
          cd ~/code/doom
          touch ~/DOOM1.WAD
          WAD_FILE=~/DOOM1.WAD ~/code/doom/build_whole_project.sh

  macos:
    runs-on: macos-10.15
    steps:
      - name: Checkout V
        uses: actions/checkout@v2
        with:
          repository: vlang/v
      - name: Checkout c2v
        uses: actions/checkout@v2
        with:
          path: c2v

      - name: Install Dependencies
        run: brew install sdl2 sdl2_mixer sdl2_net libpng

      - name: Build V
        run: make && ./v symlink -githubci

      - name: Build c2v and setup ~/code
        run: |
          ls -la /Users/runner/work/c2v/c2v/c2v
          ln -s  /Users/runner/work/c2v/c2v/c2v ~/.vmodules/c2v
          mkdir -p ~/code/
          v -g ~/.vmodules/c2v/
          ~/.vmodules/c2v/c2v || true

      - name: Test c2v
        run: |
          v -g test ~/.vmodules/c2v/
          v -g run ~/.vmodules/c2v/tests/run_tests.vsh

      - name: Build original Chocolate Doom
        run: |
          git clone --quiet --depth 1 https://github.com/vlang/doom ~/code/doom
          cd ~/code/doom/chocolate-doom
          cmake -DCMAKE_BUILD_TYPE=Debug .
          make chocolate-doom

      - name: Translate just p_enemy.v
        run: |
          cd ~/.vmodules/c2v/
          v -g run tools/build_doom_file.vsh doom/p_enemy

      - name: Translate the whole game in project/folder mode
        run: |
          cd ~/code/doom
          touch ~/DOOM1.WAD
          WAD_FILE=~/DOOM1.WAD ~/code/doom/build_whole_project.sh
